
###
#  These are meaninful defaults
#  the values will not overwrite any customizations entered
#  by the user before this call
###

config default sqldb [list \
    class tdif.connector.sqlite \
    db_file [file join $::Config(siteRoot) var site.sqlite]]

config default document [list \
    class httpd.container.document \
    docRoot global \
    globalName document \
    table document \
    sqlObj sqldb     vfile_root /documents \
    vfile_path [file join $::Config(siteRoot) documents]]

config default community {
    class httpd.container.community
    globalName community
    table users
    urlPrefix /users
}

config default wiki {
    class httpd.container.wiki
    globalName wiki
    table community
    sqlObj sqldb
    urlPrefix /home
}

config default search {
    class tdif.search.sql
    globalName search
    table search
    sqlObj sqldb
    urlPrefix /search
}

config default linker {
    class tdif.linker.sql
    globalName linker
    table linker
    sqlObj sqldb
    urlPrefix /links
}
