
namespace eval ::zipcode {
	#
	# State Abbreviations
	#
	array set state_name {
AK ALASKA
AL ALABAMA
AR ARKANSAS
AS {AMERICAN SAMOA}
AZ ARIZONA
CA CALIFORNIA
CO COLORADO
CT CONNECTICUT
DC {DISTRICT OF COLUMBIA}
DE DELAWARE
FL FLORIDA
FM {FEDERATED STATES OF MICRONESIA}
GA GEORGIA
GU GUAM
HI HAWAII
IA IOWA
ID IDAHO
IL ILLINOIS
IN INDIANA
KS KANSAS
KY KENTUCKY
LA LOUISIANA
MA MASSACHUSETTS
MD MARYLAND
ME MAINE
MH {MARSHALL ISLANDS}
MI MICHIGAN
MN MINNESOTA
MO MISSOURI
MP {NORTHERN MARIANA ISLANDS}
MS MISSISSIPPI
MT MONTANA
NC {NORTH CAROLINA}
ND {NORTH DAKOTA}
NE NEBRASKA
NH {NEW HAMPSHIRE}
NJ {NEW JERSEY}
NM {NEW MEXICO}
NV NEVADA
NY {NEW YORK}
OH OHIO
OK OKLAHOMA
OR OREGON
PA PENNSYLVANIA
PR {PUERTO RICO}
PW PALAU
RI {RHODE ISLAND}
SC {SOUTH CAROLINA}
SD {SOUTH DAKOTA}
TN TENNESSEE
TX TEXAS
UT UTAH
VA VIRGINIA
VI {VIRGIN ISLANDS}
VT VERMONT
WA WASHINGTON
WI WISCONSIN
WV {WEST VIRGINIA}
WY WYOMING
	}
	
	#
	# State Ranges
	#
	array set states 	{
AK {98 99}
AL {35 36}
AR {71 72 75}
AS 96
AZ {85 86}
CA {90 91 92 93 94 95 96}
CO {80 81}
CT 06
DC 20
DE 19
FL {32 33 34}
FM 96
GA {30 31 32 39}
GU 96
HI 96
IA {50 51 52}
ID 83
IL {60 61 62 63}
IN {46 47}
KS {66 67}
KY {40 41 42}
LA {70 71}
MA {01 02 05 96}
MD {20 21}
ME {03 04}
MI {48 49}
MN {55 56}
MO {63 64 65}
MS {38 39}
MT 59
NC {27 28}
ND 58
NE {68 69}
NH 03
NJ {07 08}
NM {87 88}
NV {88 89}
NY {00 06 09 10 11 12 13 14}
OH {43 44 45}
OK {73 74}
OR 97
PA {15 16 17 18 19}
PR 00
RI 02
SC 29
SD 57
TN {37 38 42}
TX {75 76 77 78 79 88}
UT 84
VA {22 23 24}
VI 00
VT 05
WA {98 99}
WI {53 54}
WV {24 25 26}
WY {82 83}
	}
	#
	# Major Cities
	#
	array set cities {
AL,DIXIANA {350 351}
AZ,MARANA {852 856}
CA,AGUANGA {923 925}
CA,ALPINE {919 920}
CA,ANZA {923 925}
{CA,APO SAN FRANCISCO} {962 963 964 965 966}
CA,BONITA {919 920}
CA,BOULEVARD {919 920}
CA,CAMPO {919 920}
{CA,CARNELIAN BAY} {957 961}
CA,CARSON {907 908}
CA,CERRITOS {906 907}
{CA,CHULA VISTA} {919 920}
CA,DESCANSO {919 920}
CA,DULZURA {919 920}
{CA,ELK GROVE} {956 957}
CA,ENCINO {913 914}
CA,FRESNO {937 938}
CA,HEMET {923 925}
CA,HOMELAND {923 925}
CA,HOMEWOOD {957 961}
CA,IDYLLWILD {923 925}
{CA,IMPERIAL BEACH} {919 920}
CA,IRVINE {926 927}
CA,JACUMBA {919 920}
CA,JAMUL {919 920}
{CA,KINGS BEACH} {957 961}
{CA,LA MESA} {919 920}
{CA,LAKE ELSINORE} {923 925}
CA,LAKEVIEW {923 925}
{CA,LEMON GROVE} {919 920}
{CA,LOS ANGELES} {900 901}
{CA,MORENO VALLEY} {923 925}
{CA,MOUNTAIN CENTER} {923 925}
CA,MURRIETA {923 925}
{CA,NATIONAL CITY} {919 920}
CA,PASADENA {910 911}
CA,PERRIS {923 925}
{CA,PINE VALLEY} {919 920}
CA,POTRERO {919 920}
CA,ROSEVILLE {956 957}
CA,SACRAMENTO {942 958}
{CA,SAN JACINTO} {923 925}
{CA,SAN YSIDRO} {920 921}
{CA,SOUTH LAKE TAHOE} {957 961}
{CA,SPRING VALLEY} {919 920}
{CA,SUN CITY} {923 925}
{CA,TAHOE CITY} {957 961}
{CA,TAHOE VISTA} {957 961}
CA,TECATE {919 920}
CA,TEMECULA {923 925}
CA,TRUCKEE {957 961}
{CA,VAN NUYS} {913 914}
CA,WILDOMAR {923 925}
CA,WINCHESTER {923 925}
CT,BRIDGEPORT {064 066}
DC,WASHINGTON {200 202 203 204 205}
FL,ASTATULA {327 347}
FL,ASTOR {320 321}
FL,BRANDON {335 342}
FL,BUNNELL {320 321}
FL,CITRA {321 326}
FL,CLERMONT {327 347}
{FL,CRESCENT CITY} {320 321}
{FL,DAYTONA BEACH} {320 321}
{FL,DE LEON SPRINGS} {320 321}
{FL,EAST PALATKA} {320 321}
FL,EDGEWATER {320 321}
{FL,FLAGLER BEACH} {320 321}
FL,FLORAHOME {321 326}
{FL,FRUITLAND PARK} {327 347}
FL,GEORGETOWN {320 321}
FL,GROVELAND {327 347}
FL,HASTINGS {320 321}
FL,INTERLACHEN {320 321}
FL,JACKSONVILLE {320 322}
FL,KENANSVILLE {327 347}
FL,KISSIMMEE {327 347}
{FL,LADY LAKE} {321 326}
FL,LEESBURG {327 347}
FL,MIAMI {331 332}
FL,MONTVERDE {327 347}
{FL,NEW SMYRNA BEACH} {320 321}
FL,OCOEE {327 347}
FL,OKAHUMPKA {327 347}
{FL,ORMOND BEACH} {320 321}
FL,PALATKA {320 321}
{FL,PALM COAST} {320 321}
FL,PIERSON {320 321}
{FL,PLANT CITY} {335 342}
{FL,POMONA PARK} {320 321}
{FL,SAINT CLOUD} {327 347}
{FL,SAN MATEO} {320 321}
FL,SATSUMA {320 321}
FL,SEVILLE {320 321}
FL,WEIRSDALE {321 326}
FL,WILDWOOD {327 347}
FL,WINDERMERE {327 347}
{FL,WINTER GARDEN} {327 347}
FL,YALAHA {327 347}
FL,ZEPHYRHILLS {335 342}
GA,ATLANTA {300 303 311 399}
HI,AIEA {967 968}
{HI,EWA BEACH} {967 968}
HI,KAILUA {967 968}
HI,WAHIAWA {967 968}
{KY,GRASSY CREEK} {413 414}
LA,GREENWOOD {708 710}
MA,ANDOVER {018 055}
MA,BOSTON {021 022}
MA,QUINCY {021 022}
{MD,SOUTHERN MD FACILITY} {206 207}
{MD,SUBURB MARYLAND FAC} {208 209}
MI,HARTLAND {480 483}
MI,HIGHLAND {480 483}
MN,LORETTO {553 555}
{MS,ROLLING FORK} {390 391}
NC,COLERIDGE {272 273}
NC,PITTSBORO {272 273}
NC,SANFORD {272 273}
ND,MANFRED {583 584}
NE,PAPILLION {680 681}
{NJ,CHERRY HILL} {080 083}
{NJ,JERSEY CITY} {070 073}
{NJ,NEW BRUNSWICK} {088 089}
NJ,WASHINGTON {078 080}
NM,ALBUQUERQUE {870 871 872 875}
{NV,LAS VEGAS} {889 891}
{NY,APO NEW YORK} {090 091 092 093 094 095 096 097 098}
{NY,FPO NEW YORK} {095 098}
NY,GEORGETOWN {130 131}
NY,HOLTSVILLE {005 117}
NY,JERICHO {117 118}
NY,LINWOOD {144 145}
{NY,NEW YORK} {091 092 093 100 101 102}
NY,PLEASANTVILLE {004 105}
OH,CINCINNATI {452 459}
OH,SYCAMORE {448 452}
PA,NUANGOLA {180 186}
PA,PHILADELPHIA {190 191 192}
PA,PITTSBURGH {151 152}
{PR,SAN JUAN} {006 009}
SC,ORA {293 296}
TN,FLATWOODS {370 384}
TN,MEMPHIS {375 381}
TN,MORLEY {377 378}
TN,SNEEDVILLE {377 378}
{TX,EL PASO} {799 885}
TX,WETMORE {781 782}
UT,OGDEN {842 844}
{VA,KING GEORGE} {224 225}
VA,LOUISA {230 231}
{VA,MC LEAN} {220 221}
{VA,MSC NORTHERN VA} {220 221}
VA,RICHMOND {231 232}
VA,SALUDA {230 231}
WA,ROSALIA {990 991}
WA,SEATTLE {980 981 987}
WA,TACOMA {983 984}
WV,BANDYTOWN {250 252}
WV,BECKLEY {258 259}
WV,CARBON {250 251}
WV,GARRISON {250 252}
WV,GEM {263 266}
WV,HARVEY {258 259}
WV,WHITTAKER {250 252}
WV,WILBUR {263 264}
	}
}
